@*Not currently used. This can be used to redirect from a page to the same page and reload the component*@
@page "/redirect/{*RedirectRoute}"
@inject NavigationManager NavigationManager

<div>@RedirectRoute</div>

@code {
    [Parameter]
    public required string RedirectRoute { get; set; }

    protected override void OnParametersSet()
    {
        NavigationManager.NavigateTo(RedirectRoute, replace: true);
    }
}
